<style type="text/css">
  body { background-color: #ddd; }
  #status_div {
    padding: 1ex;
    font-family: arial;
    font-size: 2em;
    text-align: center;
    color: white;
  }
  .open {
      background: green;
  }
  .closed {
      background: red;
  }
        
</style>

